<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Invite Email Page</title>

</head>

<body>
  <div class="wrapper">
    <div class="container">


      <div class="logo-container">

        <img src="./assets/logo.svg" alt="">
      </div>
      <div class="title">
        <img src="./assets/title.svg" alt="">

      </div>
      <a href="" class="checkout-btn">
        Check it out
      </a>
      <p>
        Lorem ipsum dolor sit amet consectetur. Egestas viverra non felis felis. Commodo pretium eget quis id in
        fringilla
        convallis. Quis urna et ornare id. Nunc ut viverra turpis sit sed nascetur. Nulla vel nulla nunc mauris quisque
        consectetur cursus. Vestibulum aliquam pretium id morbi posuere volutpat non.
      </p>
      <h3 class="heading">
        Project Managing and more
      </h3>
      <p>
        Lorem ipsum dolor sit amet consectetur. Egestas viverra non felis felis. Commodo pretium eget quis id in
        fringilla
        convallis. Quis urna et ornare id. Nunc ut viverra turpis sit sed nascetur. Nulla vel nulla nunc mauris quisque
        consectetur cursus. Vestibulum aliquam pretium id morbi posuere volutpat non.
      </p>
      <h3 class="date">

        27 May 2023
      </h3>
      <div class="footer">
        <p>
          Vist Our Website
        </p>
        <h6>www.synergies</h6>
      </div>
    </div>
  </div>
</body>

</html>
