// app global css in SCSS form

.text-dark-page {
  color: $dark-page;
}
.bg-dark1 {
  background: $dark1;
}
.no-underline {
  text-decoration: none;
}
// declare a class which applies it

.q-header {
  .q-field__control {
    &::after,
    &::before {
      display: none;
    }
    box-shadow: none !important;
    height: 60px;
    .q-field__prepend {
      height: 60px;
    }
  }
}

.q-table__card {
  box-shadow: none !important;
}
.q-table th {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  padding-block: 22px;
}
.q-table tbody td{
  height: 57px;
  font-size: 19px;
  line-height: 28px;
}
.q-table--horizontal-separator thead th,
.q-table--horizontal-separator tbody tr:not(:last-child) > td{
  border-width: 0px;
}
.q-table--horizontal-separator thead th{
  background: $accent;
}
tr:nth-child(even) {
  background-color: $accent;
}
